[

    {kernel, [{logger_level, info},
       {logger,
        [{handler,
          default,
          logger_std_h,
          #{formatter => {logger_formatter,
                          #{template => [[logger_formatter, header],
                                         {pid, [" ", pid, ""], ""},
                                         {mfa, [" ", mfa, ":", line], ""},
                                         "\n",
                                         msg,
                                         "\n"],
                            legacy_header => true,
                            single_line => false}}}}]}]},


    { ets_ui, [
        {mode, meta}, %% meta | client
	    {meta_nodes, [
            {"localhost", 54321}
        ]},
        {http_port, 14321}
    ] }

].
