[
    { ets_ui, [
        {http_port, 54321}
    ] },

    {kernel, [
        {logger_level, debug},
        {logger, [
            {handler, default, logger_std_h, #{
                level => debug,
                formatter => {logger_formatter, #{single_line => false}}
            }}
        ]}
    ]}

].
